// Colors
$blue: #2A62BD;
$cerulean-frost: #6D9DC5;
$cool-green: #48A9A6;
$light-purple: #8789C0;

// delete?
$light-blue: #4392F1;
$white: #FFFFFF;
$pale-turquoise: #AEECEF;
$royal-blue: #031A6B;
$dark-midnight-blue: #033860;

html {
  body {
    header {
      .navigation {
        .hero-link {
          color: $blue;
          font-size: 32px;
        }
        .link {
          color: $blue;
          font-size: 16px;
        }
      }
      div {
        color: $blue;
        padding-left: 16px;
        font-size: 16px;
      }
    }

    .job-posts {
      h2.page-header {
        color: $cerulean-frost;
        font-size: 24px;
        padding-left: 16px;
      }
    }

    .post {
      .card {
        border-color: $cerulean-frost;
        margin: 10px;

        .card-body {
          .card-title {
            color: $cerulean-frost;
            cursor: pointer;
          }

          .site-link {
            color: $cerulean-frost;
          }
        }
      }
    }

    .job-post-form {
      padding-left: 16px;
      h2.page-header {
        color: $cool-green;
        font-size: 24px;
        padding: 0px;
      }
      button {
        background-color: $cool-green;
        border-color: $cool-green;
        &:active, &:hover {
          background-color: $cerulean-frost;
          border-color: $cerulean-frost;
        }
      }
    }
  }
}

div#mocha {
  background: white;
  border-right: 2px solid black;
  height: 100%;
  left: 0;
  margin: 0;
  overflow: auto;
  padding: 1rem;
  position: fixed;
  resize: horizontal;
  top: 0;
  width: 20px;
  z-index: 1000;
}
